@charset "utf-8";
@import url('common.css');


/* container-1 */
/* container-2 */
.container-2{}
.container-2 ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    padding: 100px;
}
.container-2 ul li{}
.container-2 ul li a strong{
    color: rgb(170, 170, 170);
    font-size: 1.5em;
    margin: 0 2vw;
}
.container-2 ul li a strong:hover{
    color: rgb(240,202,15);
    border-bottom: 2px solid rgb(240,202,15);
}

/* container-3 */
.container-3{
    width:80%;
    margin:0 auto;
}
.container-3 h2::before{
    content:''; clear: both; display: block;
    border-bottom: 2px solid #cccab5;
    width: 100%; margin:2vw 0;
}
.container-3 h2{
    font-size:1.6em;
    text-align: start;
    color: #cccab5;
}

/* container-4 */

.container-4{
    background-color:rgb(240,202,15);
    width: 80%; height: 450px;
    overflow: hidden;
    margin: 5% auto;

    display: flex;
    position: relative;
}
.container-4 h2{
    position: absolute;
    left: 0;bottom:10px;
    color: #fff;
    font-size: 5em;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: 0 100%;
}
.container-4 p{
    width:40%;
    word-break: keep-all;
    color: rgb(70,70,70);
    line-height: 1.8;
    padding:50px;
}

.container-4 p strong{
    font-size: 1.5em;
    font-weight: 700;
    color: #fff;
    display: block;
    margin-bottom:5px;
}
.container-4 .img-1{
    overflow: hidden;
    width: 50%; 
    margin-left: 10%;
}
.container-4 .img-1 img{
    width: 100%; height: 100%;
    transition: .5s;
}
.container-4 .img-1 img:hover{
    transform: scale(1.4);
}

/* container-5 */

.container-5{
    background-color:rgb(242, 240, 240);
    width: 80%; height: 450px;
    overflow: hidden;
    margin: 5% auto;

    display: flex;
    position: relative;
}
.container-5 h2{
    position: absolute;
    right: 0;bottom:10px;
    color: rgb(240,202,15);
    font-size: 5em;
    transform: rotate(90deg) translateY(100%);
    transform-origin: 100% 100%;
}
.container-5 p{
    width:40%;
    word-break: keep-all;
    color: rgb(70,70,70);
    line-height: 1.8;
    padding:50px;
}

.container-5 p strong{
    font-size: 1.5em;
    color: rgb(240,202,15);
    display: block;
    margin-bottom:5px;
}
.container-5 .img-2{
    overflow: hidden;
    width: 50%;
}
.container-5 .img-2 img{
    width: 100%; height: 100%;
    transition: .5s;
}
.container-5 .img-2 img:hover{
    transform: scale(1.4);
}

/* container-6 */

.container-6{
    background-color:rgb(240,202,15);
    width: 80%; height: 450px;
    overflow: hidden;
    margin: 5% auto;

    display: flex;
    position: relative;
}
.container-6 h2{
    position: absolute;
    left: 0;bottom:10px;
    color: #fff;
    font-size: 5em;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: 0 100%;
}
.container-6 p{
    width:40%;
    word-break: keep-all;
    color: rgb(70,70,70);
    line-height: 1.8;
    padding:50px;
}

.container-6 p strong{
    font-size: 1.5em;
    color: #fff;
    display: block;
    margin-bottom:5px;
}
.container-6 .img-3{
    overflow: hidden;
    width: 50%;
    margin-left: 10%;
}
.container-6 .img-3 img{
    width: 100%; height: 100%;
    transition: .5s;
}
.container-6 .img-3 img:hover{
    transform: scale(1.4);
}

/* container-7 */

.container-7{
    background-color:rgb(242, 240, 240);
    width: 80%; height: 450px;
    overflow: hidden;
    margin: 5% auto;

    display: flex;
    position: relative;
}
.container-7 h2{
    position: absolute;
    right: 0;bottom:10px;
    color: rgb(240,202,15);
    font-size: 5em;
    transform: rotate(90deg) translateY(100%);
    transform-origin: 100% 100%;
}
.container-7 p{
    width:40%;
    word-break: keep-all;
    color: rgb(70,70,70);
    line-height: 1.8;
    padding:50px;
}

.container-7 p strong{
    font-size: 1.5em;
    color: rgb(240,202,15);
    display: block;
    margin-bottom:5px;
}
.container-7 .img-4{
    overflow: hidden;
    width: 50%;
}
.container-7 .img-4 img{
    width: 100%; height: 100%;
    transition: .5s;
}
.container-7 .img-4 img:hover{
    transform: scale(1.4);
}

/* container-8 */

.container-8{
    background-color:rgb(240,202,15);
    width: 80%; height: 450px;
    overflow: hidden;
    margin: 5% auto;

    display: flex;
    position: relative;
    margin-bottom: 20%;
}
.container-8 h2{
    position: absolute;
    left: 0;bottom:10px;
    color: #fff;
    font-size: 5em;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: 0 100%;
}
.container-8 p{
    width:40%;
    word-break: keep-all;
    color: rgb(70,70,70);
    line-height: 1.8;
    padding:50px;
}

.container-8 p strong{
    font-size: 1.5em;
    color: #fff;
    display: block;
    margin-bottom:5px;
}
.container-8 .img-5{
    overflow: hidden;
    width: 50%;
    margin-left: 10%;
}
.container-8 .img-5 img{
    width: 100%; height: 100%;
    transition: .5s;
}
.container-8 .img-5 img:hover{
    transform: scale(1.4);
}


/* media container-1 */

@media(min-width: 360px) and (max-width: 767px){
    .container-1{
        width: 100%; height: 150px;
        overflow: hidden;
        margin-top: 112px;
        position: relative;
    }
    .container-1 a img{
        width: 100%;
        transform: translateY(0%);
    }
}
/* container-2 */
@media(min-width: 360px) and (max-width: 767px){
    .container-2 ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        padding: 50px;
    }
    .container-2 ul li a strong{
        color: rgb(170, 170, 170);
        font-size: 1em;
        margin: 0 2vw;
    }
}

/* media container-3 */

@media(min-width: 360px) and (max-width: 767px){
    .container-3{
        width: 80%;
        margin:0 auto;
    }
    .container-3 h2::before{
        content:''; clear: both; display: block;
        border-bottom: 2px solid #cccab5;;
        width: 50%;
        margin:3vw auto;
    }
    .container-3 h2{
        font-size:1em;
        font-weight: 800;
        text-align: center;
        color: rgb(214, 214, 214);
        margin: 0 auto;
    }
}

/* media container-4 */

@media(min-width: 360px) and (max-width: 767px){
    .container-4{
        background-color:rgb(240,202,15);
        width: 100%; height:500px;
        overflow: hidden;
        margin: 10% auto;
    
        display: block;
        position: relative;
    }
    .container-4 h2{
        position: absolute;
        left:14%; top:30%;
        color: #fff;
        opacity:20%;
        transform: none;
        transform-origin: 0;
        font-size: 3em;
        z-index: 50;
    }
    .container-4 p{
        width:100%;
        word-break: keep-all;
        color: rgb(70,70,70);
        line-height: 1.5;
        padding:0 40px;
        font-size: 0.8em;
    }
    
    .container-4 p strong{
        font-size: 1.4em;
        color: #fff;
        display: block;
        margin-bottom:0;
        font-weight: 700;
    }
    .container-4 .img-1{
        overflow: hidden;
        width: 80%;
        margin: 5% 10%;
    }
    .container-4 .img-1 img{
        width: 100%;
        transition:0;
    }
    .container-4 .img-1 img:hover{
        transform:none;
    }
}

/* media container-5 */

@media(min-width: 360px) and (max-width: 767px){
    .container-5{
        background-color:rgb(242, 240, 240);
        width:100%; height:500px;
        overflow: hidden;
        margin:20% auto;
    
        display:block;
        position: relative;
    }
    .container-5 h2{
        position: absolute;
        right:14%;bottom:57%;
        opacity:50%;
        color: rgb(240,202,15);
        transform: none;
        transform-origin:0;
        font-size:3em;
        z-index: 50;
    }
    .container-5 p{
        width:100%;
        word-break: keep-all;
        color: rgb(70,70,70);
        line-height: 1.5;
        padding:0 40px;
        font-size:0.8em;
    }
    .container-5 p strong{
        font-size: 1.4em;
        color: rgb(240,202,15);
        display: block;
        margin-bottom:0;
        font-weight: 700;
    }
    .container-5 .img-2{
        overflow: hidden;
        width: 80%;
        margin: 5% 10%;
    }
    .container-5 .img-2 img{
        width: 100%;
        transition: 0;
    }
    .container-5 .img-2 img:hover{
        transform:none;
    }
}

/* media container-6 */

@media(min-width: 360px) and (max-width: 767px){
    .container-6{
        background-color:rgb(240,202,15);
        width: 100%; height:500px;
        overflow: hidden;
        margin:20% auto;
    
        display: block;
        position: relative;
    }
    .container-6 h2{
        position: absolute;
        left:14%; top:30%;
        color: #fff;
        opacity:20%;
        transform: none;
        transform-origin: 0;
        font-size: 3em;
        z-index: 50;
    }
    .container-6 p{
        width:100%;
        word-break: keep-all;
        color: rgb(70,70,70);
        line-height: 1.5;
        padding:0 40px;
        font-size: 0.8em;
    }
    
    .container-6 p strong{
        font-size: 1.4em;
        color: #fff;
        display: block;
        margin-bottom:0;
        font-weight: 700;
    }
    .container-6 .img-3{
        overflow: hidden;
        width: 80%;
        margin: 5% 10%;
    }
    .container-6 .img-3 img{
        width: 100%;
        transition:0;
    }
    .container-6 .img-3 img:hover{
        transform:none;
    }
}

/* media container-7 */

@media(min-width: 360px) and (max-width: 767px){
    .container-7{
        background-color:rgb(242, 240, 240);
        width:100%; height:500px;
        overflow: hidden;
        margin:20% auto;
    
        display:block;
        position: relative;
    }
    .container-7 h2{
        position: absolute;
        right:14%;bottom:57%;
        opacity:50%;
        color: rgb(240,202,15);
        transform: none;
        transform-origin:0;
        font-size:3em;
        z-index: 50;
    }
    .container-7 p{
        width:100%;
        word-break: keep-all;
        color: rgb(70,70,70);
        line-height: 1.5;
        padding:0 40px;
        font-size:0.8em;
    }
    .container-7 p strong{
        font-size: 1.4em;
        color: rgb(240,202,15);
        display: block;
        margin-bottom:0;
        font-weight: 700;
    }
    .container-7 .img-4{
        overflow: hidden;
        width: 80%;
        margin: 5% 10%;
    }
    .container-7 .img-4 img{
        width: 100%;
        transition: 0;
    }
    .container-7 .img-4 img:hover{
        transform:none;
    }
}

/* media container-8 */

@media(min-width: 360px) and (max-width: 767px){
    .container-8{
        background-color:rgb(240,202,15);
        width: 100%; height:500px;
        overflow: hidden;
        margin:20% auto;
    
        display: block;
        position: relative;
    }
    .container-8 h2{
        position: absolute;
        left:14%; top:23%;
        color: #fff;
        opacity:20%;
        transform: none;
        transform-origin: 0;
        font-size: 3em;
        z-index: 50;
    }
    .container-8 p{
        width:100%;
        word-break: keep-all;
        color: rgb(70,70,70);
        line-height: 1.5;
        padding:40px;
        font-size: 0.8em;
    }
    
    .container-8 p strong{
        font-size: 1.4em;
        color: #fff;
        display: block;
        margin-bottom:0;
        font-weight: 700;
    }
    .container-8 .img-5{
        overflow: hidden;
        width: 80%;
        margin: 5% 10%;
    }
    .container-8 .img-5 img{
        width: 100%; 
        transition:0;
    }
    .container-8 .img-5 img:hover{
        transform:none;
    }
}