@charset "utf-8";
@import url('common.css');


/* container-1 */
.container-1 a img{
    width: 100%;
    transform: translateY(-30%);
}
/* container-2 */
.container-2 ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    padding: 100px;
}
.container-2 ul li a strong{
    color: rgb(170, 170, 170);
    font-size: 1.5em;
    margin: 0 2vw;
}
.container-2 ul li:nth-of-type(2) a strong{
    color: rgb(240,202,15);
    border-bottom: 2px solid rgb(240,202,15);
}
/* container-3 */
.container-3{
    width: 60%; height: 350px;
    margin: 0 auto; padding: 40px;
}
.container-3 .con{
    width: 100%; height: 100%;
    display: flex; flex-wrap: wrap;
    flex-shrink: 0;
    overflow: hidden;
    transition: .3s;
    position: relative;
}
.container-3 .con div{
    width: 100%; height: 100%;
    margin: 0 auto;
    display: flex;
}
.container-3 .con div img{
    width: 35%; margin-left: 40px;
}
.container-3 .con div .text{
    display: flex; flex-direction: column;
    padding: 20px;
    text-align: end;
    width: 50%;
}
.container-3 .con div h2{
    color: rgb(240,202,15);
    font-size:2.2em;
    word-break: keep-all;
}
.container-3 .con div p{
    color: rgb(126, 126, 126);
    font-weight: 600;
    font-size:1.3em;
    line-height: 2;
}
.container-3 .con div p:nth-of-type(2){
    color: rgb(126, 126, 126);
    font-weight: 600;
    font-size:1em;
}
.container-3 .button a:nth-child(1){
    position: absolute;
    left:0%; top:40%;
    width: 30px; height: 50px;
}
.container-3 .button a:nth-child(2){
    position: absolute;
    right:5%; top:40%;
    width: 30px; height: 50px;
}


/* container-4 */
.container-4{
    width:80%; margin: 150px auto;
}
.container-4::after{
    content: ''; clear: both; display: block;
    width: 100%; margin:8vw 0;
    border-bottom: 2px solid #cccab5;
}
.container-4 .con4{
    width:80%; margin: 0 auto;
}
.container-4 .con4 > div{
    width: 100%; height: 300px;
    margin-bottom: 30px;
    overflow: hidden;
    display: flex;
}
.container-4 .con4 > div img{
    width:400px; height: 400px;
}
.container-4 .con4 > div > .text{
    width: 80%;
    padding: 30px; word-break: keep-all;
    background: #cccab5;
}
.container-4 .con4 > div > .text h2{
    word-break: keep-all;
    font-size: 1.6em;
    margin-bottom: 20px;
    color: #fff;
}
.container-4 .con4 > div > .text p{
    font-size: 1em; line-height:2;
    color: rgb(82, 82, 82);
}
.container-4 .con4 > div > .text p small{
    color:#fff; font-weight: 600;
    font-size: 1em;
    line-height:2;
}


/* media container-2 */

@media(min-width: 360px) and (max-width: 767px){
    .container-2 ul{
        display: flex;
        flex-direction: row;
        justify-content:center;
        margin: 0;
        padding: 50px;
    }
    .container-2 ul li a strong{
        text-transform: uppercase;
        color: rgb(170, 170, 170);
        font-size: 1em;
        margin: 0 2vw;
    }
}

/* media container-3 */

@media(min-width: 360px) and (max-width: 767px){
    .container-3{
        width: 100%; height: 400px;
        margin: 0; padding: 20px;
    }
    .container-3 .con{
        width: 100%; height: 100%;
        display: flex;
        overflow: hidden;
        transition: .3s;
        position: relative;
    }
    .container-3 .con div{
        width: 100%; height: 100%;
        margin: 0;
        display: flex; flex-direction: row;
        flex-wrap: wrap;
        flex-shrink: 0;
    }
    .container-3 .con div img{
        width: 70%; margin: 0 auto;
    }
    .container-3 .con div .text{
        display: flex; flex-direction: column;
        padding: 0; margin-top:20px;
        text-align: center;
        width: 100%;
    }
    .container-3 .con div h2{
        color: rgb(240,202,15);
        font-size:1em;
        line-height: 2;
        word-break: keep-all;
    }
    .container-3 .con div p{
        color: rgb(126, 126, 126);
        font-weight: 600;
        font-size:0.8em;
        line-height: 2;
    }
    .container-3 .con div p:nth-of-type(2){
        color: rgb(126, 126, 126);
        font-weight: 600;
        font-size:0.8em;
    }
}
/* media container-4 */
@media(min-width: 360px) and (max-width: 767px){
    .container-4{
        width:100%; margin: 50px auto;
    }
    .container-4::after{
        content: ''; clear: both; display: block;
        width: 80%; margin:8vw auto;
        border-bottom: 2px solid #cccab5;
    }
    .container-4 .con4{
        width:100%; margin: 0;
    }
    .container-4 .con4 > div{
        width: 100%; height: 100%;
        margin-bottom: 20px;
        overflow: hidden;
        display: flex; flex-direction: column;
    }
    .container-4 .con4 > div img{
        width:400px; height: 400px;
    }
    .container-4 .con4 > div > .text{
        width: 100%;
        padding: 20px;
        word-break: keep-all;
        background: #cccab5;
    }
    .container-4 .con4 > div > .text h2{
        word-break: keep-all;
        font-size: 1.2em;
        margin-bottom: 10px;
        color: #fff;
    }
    .container-4 .con4 > div > .text p{
        font-size: 0.8em; line-height:2;
        color: rgb(82, 82, 82);
    }
}