@charset "utf-8";
@import url('common.css');


/* container-1 */
/* container-2 */
.container-2::before{
    content: ''; clear: both; display: block;
    border-bottom: 2px solid #cccab5;
    width:5%; margin: 0 auto;
    margin-bottom: 20px;
}
.container-2{
    background-color: #fffde7;
    width:100%;
    border-top-right-radius:100%;
    border-top-left-radius:100%;
    padding: 5%;
    margin-top:50px;
}
.container-2 h2{
    font-size:1.5em;
    color: #cccab5;
    text-align: center;
}
/* container-3 */
.container-3{
    background-color:#fffde7;
    width:100%;
}
.container-3 ul{
    width: 80%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}
.container-3 ul li{
    width: 32%;
    margin-bottom:10%;
}
.container-3 ul li a img{
    width: 100%; height:60%;
}
.container-3 ul li p{
    background-color: #cccab5;
    word-break: keep-all;
    line-height: 2.2;
    font-size: 0.9em;
    color: rgb(80, 80, 80);
    width: 100%; height: 40%;
    padding:40px;
}
.container-3 ul li p strong{
    font-size: 1.3em;
    color: #fff;
}
.container-3 ul li p small{
    color:rgb(80, 80, 80);
    line-height:5;
}


/* media container-1 */

@media(min-width: 360px) and (max-width: 767px){
    .container-1 a img{
        width: 100%;
        transform: translateY(-30%);
    }
}

/* media container-2 */

@media(min-width: 360px) and (max-width: 767px){
    .container-2 h2{
        font-size:1em;
        color: #cccab5;
        text-align: center;
    }
}

/* media container-3 */

@media(min-width: 360px) and (max-width: 767px){
    .container-3 ul{
        width: 80%;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .container-3 ul li{
        width: 100%;
        margin:20% 0;
    }
    .container-3 ul li p{
        background-color: #cccab5;
        word-break: keep-all;
        line-height: 2.2;
        font-size: 0.8em;
        color: rgb(80, 80, 80);
        width: 100%; height: 40%;
        padding:20px;
    }
    .container-3 ul li p strong{
        font-size: 1.2em;
        color: #fff;
    }
    
}