@charset "utf-8";

* {font-family: 'Open Sans',sans-serif,
    'Noto Sans KR', sans-serif;}

html,body{margin: 0; padding: 0;}
ul,li,ol{
    list-style-type: none;
    margin:0;
}
h1,h2,h3,h4,h5,h6,figure,p{margin:0;}
img{vertical-align: top;}
a{text-decoration: none;}

*{box-sizing: border-box;}

header{
    position: fixed;
    top:0; left:0;
    padding: 18px 0;
    width:100%;
    background-color: #fff;
    z-index: 999;
}
.head{
    width: 80%; margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-content: center;
}
.head .logo-menu{display: flex;}

.head .menu-trigger{
    width: 30px; height: 20px;
    position: relative;
    display: inline-block;
    z-index: 10;
}
.head .menu-trigger span{
    position: absolute;
    width: 100%; height: 2px;
    left: 0;
    background-color: rgb(70,60,60);
    transition:0.5s;
}
.head .menu-trigger span:nth-child(1){top: 0;}
.head .menu-trigger span:nth-child(2){top: calc(50% - 1px);}
.head .menu-trigger span:nth-child(3){bottom: 0;}
.head .menu-trigger:hover span:nth-child(1){
    top: calc(50% - 1px);
    transform: rotate(45deg);
}
.head .menu-trigger:hover span:nth-child(2){
    top: calc(50% - 1px);
    opacity: 0;
}
.head .menu-trigger:hover span:nth-child(3){
    bottom: calc(50% - 1px);
    transform: rotate(-45deg);
}

/* text-indent: 40px; =내어쓰기
-flex에서는 적용x */

.head .menu-burg{
    position: fixed;
    left: 10%; top: 0;
    width: 30%; height:100%;
    background-color:rgba(255, 255, 255,1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    padding: 40px;
    display: none;
}
.head .menu-burg div{}
.head .menu-burg div p{}
.head .menu-burg div p a{
    display: block;
}
.head .menu-burg div p a:hover{
    color: rgb(240,202,15);
}
.head .menu-burg a strong{
    color: rgb(240,202,15);
    font-size: 22px;
}
.head .menu-burg div a strong:hover{
    border-bottom: 2px solid rgb(240,202,15);
}
.head .menu-burg div a {
    color: rgb(121, 109, 109);
    font-size: 1em;
    line-height: 2.5;
    text-align: center;
}

.head .menu-trigger:hover + .menu-burg{
    display: flex;
}

.head h2{
    margin-right: auto;
    margin-left: 50px;
    font-size: 0;
}
.head h2 a img{
    width: 121px; height: 26px;
}
.head nav{}
.head nav a{
    display: inline-block;
    font-weight: 600;
    font-size:1.1em;
    margin: 0 2vw;
    color: rgb(121, 109, 109);
}
.head nav a:hover{
    color: rgb(240,202,15);
}
.head .search input{border: none; outline-style: none;}
.head .search{
    border-bottom: 2px solid rgb(240,202,15);
}
.head .search::before{
    content: ''; display: inline-block;
    background-color: rgb(240,202,15);
    width: 10px; height: 10px;
    border-radius: 5px;
}

/* container-1 */

.container-1{
    width: 100%; height: 300px;
    margin-top: 62px;
    position:relative;
    overflow: hidden;
}
.container-1 a img{
    width: 100%;
    transform: translateY(-20%);
}
.container-1 figcaption{
    position: absolute;
    left:0; top:0;
    color: rgb(206, 206, 206);
    font-size:2em;
    z-index: 10;

    background-color:rgba(0,0,0,0.5);
    width: 100%; height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-1 figcaption small::before{
    content: ''; clear: both;
    border-left:3px solid #fff;
    margin: 10px;
}
.container-1 figcaption small{
    color:#fff;
}

/* foot-1 */
footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    position: relative;
    left: 0; bottom: 0;}

.foot-1 {
    background-color: rgb(240,202,15);
    padding: 8px;
}
.foot-1 ul{
    width: 80%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}
.foot-1 ul li{
    display: inline-block;
    padding-right: 20px;
}
.foot-1 ul li a{
    font-size: 14px;
    color:#fff;
}
.foot-1 ul li::after{
    content: ''; clear: both;
    border-right: 1px solid #fff;
    padding-right: 30px;
}
.foot-1 ul li:nth-of-type(7)::after{
    border-right:none}

/* .foot-2 */

.foot-2{
    background-color: rgb(242, 240, 240);
    text-align: center;
    padding: 50px;
}
.foot-2 ul{
    list-style-type: none;
}
.foot-2 ul li{
    font-size: 15px;
}
.foot-2 ul li::after{
    content: ''; clear: both; display:block;
    width:20%;
    border-bottom: 1px solid rgb(97,88,86);
    margin:20px auto;
}
.foot-2 ul a{
    text-decoration: none;
    color: rgb(97,88,86);
    margin: 0 10px;
}

.foot-2 p{
    color: rgb(97,88,86);
    line-height:2;
}    

/* media header */

@media(min-width: 360px) and (max-width: 767px){
    header{
        position: fixed;
        top:0; left:0;
        padding: 18px 0 0 0;
        width:100%;
        background-color: #fff;
        z-index: 999;
    }
    .head{
        width: 100%; margin:0;
        display:block;
        justify-content:flex-start;
        align-content: center;
    }
    .head .logo-menu{
        display: flex;
        justify-content: space-between;
        margin:0 auto;
        width: 80%;
    }
    .head .menu-burg{
        
        position: fixed;
        left: 10%; top: 0;
        width: 70%; height:100%;
        background-color:rgba(255, 255, 255,1);
        display: block;
        justify-content:flex-start;
        align-items: none;
        flex-direction: column;
        text-align: left;
        padding: 40px;
        display: none;
    }
    .head h2{
        margin-right:0;
        margin-left: 0;
    }
    .head nav{
        background-color: rgb(240,202,15);
        width: 100%;
        margin: 2vw 0 0 0;
        text-align: center;
    }
    .head nav a{
        display: inline-block;
        font-weight: 600;
        font-size:0.7em;
        margin: 2vw;
        color: #fff;
    }
    .head .search input{
        border: none;
        outline-style: none;
    }
    .head .search{
        display: none;
        border-bottom: 2px solid rgb(240,202,15);
    }
}

/* media container-1 */

@media(min-width: 360px) and (max-width: 767px){
    .container-1{
        width: 100%; height: 150px;
        margin-top: 112px;
        position:relative;
        overflow: hidden;
    }
    .container-1 figcaption{
        position: absolute;
        left:0; top:0;
        color: #fff;
        font-size:1.4em;
        z-index: 10;
    
        background-color:rgba(0,0,0,0.5);
        width: 100%; height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


/* media footer */
@media(min-width: 360px) and (max-width: 767px){
    footer {
        display: block;
        justify-content:flex-start;
        align-content: center;
        flex-direction: column;
        position: relative;
        left: 0; bottom: 0;
    }
    .foot-1 {
        background-color: rgb(240,202,15);
        width: 100%; margin: 0;
        padding:15px;
    }
    .foot-1 ul{
        width: 100%;
        padding: 10px 0;
        margin: 0;
        text-align: center;
        line-height:1.8;
    }
    .foot-1 ul li{
        display: inline-block;
        padding-right: 5px;
    }
    .foot-1 ul li::after{
        content: ''; clear: both;
        border-right: 1px solid #fff;
        padding-right: 5px;
    }
    .foot-2{
        background-color: rgb(242, 240, 240);
        width: 100%;
        text-align: center;
        padding: 30px;
    }
    .foot-2 ul{
        list-style-type: none;
        padding: 0;
    }
    .foot-2 ul li{
        font-size: 13px;
        word-break: keep-all;
        line-height: 1.8;
    }
    .foot-2 ul li::after{
        content: ''; clear: both; display:block;
        width: 80%;
        border-bottom: 1px solid rgb(97,88,86);
        margin:20px auto;
    }
    
    .foot-2 p{
        color: rgb(97,88,86);
        line-height:2;
        font-size: 13px;
        word-break: keep-all;
    }       
}
