
@charset 'utf-8';
@import url('common.css');


/* container-1 */
.container-1{
    width: 100%; height: 300px;
    overflow: hidden;
    margin: 68px auto;
    position: relative;
}
.container-1 p{
    position: absolute;
    top: 0; left: 0;
    color: #fff;
    font-size: 2em;

    background-color: rgba(0,0,0,0.7);
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-1 img{width: 100%;}

/* container-2 */