@charset "utf-8";
@import url('common.css');

/* container-1 */
.container-1 a img{
    transform: translateY(-70%);
}
/* container-2 */
.container-2 ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    padding: 100px;
}
.container-2 ul li a strong{
    color: rgb(170, 170, 170);
    font-size: 1.5em;
    margin: 0 2vw;
}
.container-2 ul li:nth-of-type(3) a strong{
    color: rgb(240,202,15);
    border-bottom: 2px solid rgb(240,202,15);
}
/* container-3 */
.container-3{
    background: #cccab5;
    width: 60%; height: 350px;
    margin: 0 auto; padding: 20px;
}
.container-3 .con{
    width: 100%; height: 100%;
    display: flex; flex-wrap: wrap;
    flex-shrink: 0;
    overflow: hidden;
}
.container-3 .con div{
    width: 100%; height: 100%;
    margin: 0 auto;
    display: flex;
}
.container-3 .con div img{
    width: 40%; margin-left: 5px;
}
.container-3 .con div .text{
    display: flex; flex-direction: column;
    padding: 20px;
    text-align: end;
    width: 50%;
}
.container-3 .con div h2{
    color: #fff;
    font-size:2.2em;
    line-height: 2;
    word-break: keep-all;
}
.container-3 .con div p{
    color: rgb(126, 126, 126);
    font-weight: 600;
    font-size:1.3em;
    line-height: 2;
}
.container-3 .con div p:nth-of-type(2){
    color: #fff;
    font-weight: 600;
    font-size:1em;
}

/*.container-4 */
.container-4{
    width: 80%; padding: 50px;
    margin:150px auto;
    overflow: hidden;
    display: flex; flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container-4::after{
    content: ''; clear: both; display: block;
    width: 100%; margin:4vw 0;
    border-bottom: 2px solid #cccab5;
}
.container-4 > div{
    width: 48%; 
    position: relative;
    height: 500px;
    overflow: hidden;
    margin-bottom: 50px;
}
.container-4 > div img{
    width: 100%;
}
.container-4 > div:hover .text{
    opacity: 1;
}
.container-4 > div .text{
    width: 100%; height:250px;
    padding: 40px;
    position: absolute;
    left: 0; bottom: 0;
    background-color: rgb(240,202,15);
    text-align: center;
    opacity: 0;
}
.container-4 > div .text h2{
    color: #fff;
    line-height: 2.2;
}
.container-4 > div .text p{
    color: #fff;
    word-break: keep-all;
    line-height:2;
}
.container-4 > div .text p strong{
    display: block;
    font-size: 1em;
}
.container-4 > div .text p small{
    display: block;
    line-height:2;
}

/* media container-2 */

@media(min-width: 360px) and (max-width: 767px){
    .container-2 ul{
        display: flex;
        flex-direction: row;
        justify-content:center;
        margin: 0 auto;
        padding: 50px;
    }
    .container-2 ul li a strong{
        text-transform: uppercase;
        color: rgb(170, 170, 170);
        font-size: 1em;
        margin: 0 2vw;
    }
}

/* media container-3 */
@media(min-width: 360px) and (max-width: 767px){
    .container-3{
        background: #cccab5;
        width: 100%; height: 380px;
        margin: 0 auto; padding: 20px;
    }
    .container-3 .con div{
        width: 100%; height: 100%;
        margin: 0 auto;
        display: flex; flex-wrap: wrap;
        flex-shrink: 0;
        overflow: hidden;
    }
    .container-3 .con div img{
        width: 200px; height: 200px;
        margin: 0 auto;
    }
    .container-3 .con div .text{
        display: flex; flex-direction: column;
        padding: 20px;
        text-align: center;
        width: 100%;
    }
    .container-3 .con div h2{
        color: #fff;
        font-size:1em;
        line-height: 2;
        word-break: keep-all;
    }
    .container-3 .con div p{
        color: rgb(126, 126, 126);
        font-weight: 600;
        font-size:0.8em;
        line-height: 2;
    }
}
/* media container-4 */
@media(min-width: 360px) and (max-width: 767px){
    .container-4{
        width: 100%; padding:20px;
        margin:100px auto;
        overflow: hidden;
        display: flex; flex-shrink: 0;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .container-4 > div{
        width: 80%; margin: 0 auto;
        position: relative;
        height: 100%;
        overflow: hidden;
        margin-bottom: 50px;
    }
    .container-4 > div .text{
        width: 100%; height:100%;
        padding: 30px;
        position: absolute;
        left: 0; bottom: 0;
        background-color: rgb(240,202,15);
        text-align: center;
        opacity: 0;
    }
    .container-4 > div .text h2{
        color: #fff;
        line-height:2.2;
        font-size: 1.2em;
        word-break: keep-all;
    }
    .container-4 > div .text p{
        color: #fff;
        word-break: keep-all;
        line-height:2;
        font-size: 0.8em;
    }
    .container-4 > div .text p strong{
        display: block;
        font-size: 1em;
    }
    .container-4 > div .text p small{
        display: block;
        line-height:1.5;
        font-size: 0.8em;
    }
}






