@charset "utf-8";
@import url('common.css');

/* header */
/* section */

/* container-1*/
.container-1 .main-text{
    position: absolute;
    width:450px; height: 300px;
    padding: 20px;
    top:20%; left:8%;
    word-break: keep-all;
}
.container-1 .main-text p{
    color: #fff;
    line-height: 2;
    text-shadow: 0.8px 0.8px 1px rgb(70, 70, 70);
}
.container-1 .main-text h2{
    font-size: 2.4em;
    line-height: 2;
    color: rgb(240,202,15);
    margin-bottom: 10px;
    text-shadow: 0.8px 0.8px 1px rgb(192, 162, 12);
}
.container-1 a img{transform: translateY(-5%);}

/* h2 */
.logo::before{
    content:''; display: inline-block;
    width: 20px; height: 20px;
    background-color: rgb(240,202,15);
    border-radius: 10px;
    margin-right: 10px;
}
.logo{
    font-weight: 600;
    font-size: 2em;
    text-align: center;
    color: rgb(70,60,60);
    padding: 80px;
    
}


/* container-2 */
.container-2{
    background-color: #fffde7;
    width: 90%; height: 600px;
    margin-left: 10%;
    position: relative;overflow:hidden;
}
.container-2 .con-sub1{
    display: flex; transition:.7s;
}
.container-2 .con-sub1 .item{flex-shrink: 0; width:100%;}
.container-2 .left{
    float: left;
    width: 50%; height: 100%;
    margin:0; padding: 30px;
    text-align: end;
}
.container-2 .left h2{
    color: #cccab5;
    opacity:40%;
}
.container-2 .left h2 strong{
    font-weight: 800;
    font-size:6em;
}
.container-2 .left p{
    color: rgb(97,88,86);
    font-size: 1em;
    line-height: 2;
    margin: 50px 0;
    word-break: keep-all;
}
.container-2 .left p strong{
    font-size: 1.5em;
    font-weight: 800;
    display: block;
    color: rgb(240,202,15);
    word-break: keep-all;
    margin-bottom: 15px;
}
.container-2 .left a{
    color: #fff;
    font-size: 1.2em;
    background-color: rgb(240,202,15);
    padding:5px 15px;
    border-radius: 20px;
    text-decoration: none;
}
.container-2 .left a::after{
    content:''; clear: both; display:inline-block;
    width:0; height:0;
    border: 8px solid transparent;
    border-left-color: #fff;
    vertical-align: middle;
    margin-left:10px;
}
.container-2 .right{
    display: inline-block;
    width:450px; height: 450px;
    margin: 5%;
    overflow: hidden;
}
.container-2 .right a img{
    width: 100%; height: 100%;
    object-fit: cover;
}

.container-2 .button a:nth-child(1){
    position: absolute;
    left:5%; top: 50%;
    width: 50px; height: 100px;
}
.container-2 .button a:nth-child(2){
    position: absolute;
    right:4%; top: 50%;
    width: 50px; height: 100px;
}


/* container-3 */
.container-3{
    background-color: #cccab5;
    width: 90%; height: 300px;
    margin-top:550px;
    position: relative;
}
.container-3 h2{
    position: absolute;
    left:7%; bottom:20%;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: 0 100%;
}
.container-3 h2 strong{
    font-weight: 800;
    font-size:7em;
    color: rgb(242,240,230);
}
.container-3 .conSub{
    width:55%; height:550px;
    margin: 0; padding:0;
    
    position: absolute;
    right:20%; bottom:25%;
    overflow: hidden;
    transition: .5s;
}
.container-3 .conSub a img{
    width: 100%; height: 100%;
}
.container-3 .conSub a img:nth-of-type(1){
    float: left;
    width:55%; height: 100%;
    object-fit: cover; 
}
.container-3 .conSub a img:nth-of-type(2),
.container-3 .conSub a img:nth-of-type(3){
    float: right;
    width: 40%; height: 13vw;
    object-fit: cover;
    margin: 0 0 3% 2%;
}
.container-3 span{
    position: absolute;
    right:20%; bottom:28%;
}
.container-3 span a{text-decoration: none;}
.container-3 span a strong{
    color: #fff;
    font-size: 1.2em;
    border: 2px solid #fff;
    padding:5px 15px;
    border-radius: 20px;
}
.container-3 span a strong::after{
    content: ''; clear: both; display: inline-block;
    width: 0; height: 0;
    border: 8px solid transparent;
    border-left-color: #fff;
    vertical-align: middle;
    margin-left: 10px;
}

/* container-4 */

.container-4{
    width: 100%; height: 600px;
    margin: 150px auto;
    margin-bottom:300px;
}
.container-4 div{
    text-align: end;
    margin-right: 10%;
}
.container-4 div h2{
    display:block;
    color: #cccab5;
    opacity:40%;
}
.container-4 div h2 strong{
    font-size:6em;
    font-weight: 800;
}
.container-4 div a strong{
    color: #fff;
    font-size:1.2em;
    background-color: rgb(240,202,15);
    padding: 5px 15px;
    border-radius: 20px;
}
.container-4 div a strong::after{
    content: ''; clear: both; display: inline-block;
    width: 0; height: 0;
    border: 8px solid transparent;
    border-left-color: #fff;
    vertical-align: middle;
    margin-left: 10px;
}
.container-4 ul{
    width: 80%;
    display: flex;
    padding: 0;
    margin-top: 50px;
    margin-left: 10%;
    list-style-type: none;
    
}
.container-4 ul li{
    width: 30%; height: 350px;
    position: relative;
    flex-shrink: 0;
    margin-left:5%;
    padding: 0;
}
.container-4 ul li a img{
    width: 100%; height: 100%;
    object-fit:cover;
}
.container-4 ul li:nth-child(1){margin-left: 0;}
.container-4 ul li:nth-child(3){margin-right: 0;}
.container-4 ul li p::after{
    content: '';
    border-right: 5px solid rgb(240,202,15);
    margin-left: 10px;
}
.container-4 ul li p{
    text-align: end;
    margin-top: 10px;
    color: rgb(88, 88, 88);
    font-weight: 600;
}
.container-4 ul li .btn{
    position: absolute;
    left: 0; top: 0;
    z-index: 5;
    background: rgba(240,202,15,0.9);
    width: 100%; height: 100%;

    font-size:1.4em;
    font-weight:700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    opacity: 0;
}
.container-4 ul li:hover .btn{
    opacity: 1;
}
/* footer */


/* media container-1 */
@media(min-width: 360px) and (max-width: 767px){
    .container-1 .main-text{
        position: absolute;
        width:450px;
        top:15%; left:4%;
    }
    .container-1 .main-text p{
        font-size: 0;
    }
    .container-1 .main-text h2{
        width: 100%; height: 100%;
        font-size: 1.6em;
        line-height: 0;
        color: rgb(240,202,15);
        margin: 50px;
        text-shadow: 0.8px 0.8px 1px rgb(192, 162, 12);
    }
    .container-1 .main-circle{
        position: absolute;
        right:10px; top:30px;
    }
    .container-1 .main-circle p{
        background-color: #fff;
        width: 4px; height: 4px;
        border-radius: 2px;
        font-size:0; 
        margin:5px;
    }
    .container-1 .main-circle p:nth-of-type(2){
        background-color: rgb(240,202,15);
        width:4px; height:50px;
    }

    .logo::before{
        content:''; display: inline-block;
        width: 10px; height: 10px;
        background-color: rgb(240,202,15);
        border-radius: 5px;
        margin-right: 10px;
    }
    .logo{
        font-weight: 600;
        font-size: 1.2em;
        text-align: center;
        color: rgb(70,60,60);
        padding: 20px;
        margin: 30px 0;
        
    }
}

/* media container-2 */

@media(min-width: 360px) and (max-width: 767px){
    .container-2{
        background-color: #fffde7;
        width: 100%; height:600px;
        margin: 0;
        position: relative; overflow:hidden;
    }
    .container-2 .left{
        float: none;
        width: 100%; height:55%;
        margin:0 35px; padding:20px;
        text-align: start;
    }
    .container-2 .left h2 strong{
        font-weight: 800;
        font-size:3em;
    }
    .container-2 .left p{
        color: rgb(97,88,86);
        font-size: 0.6em;
        line-height: 2;
        margin:10px 0;
        word-break: keep-all;
    }
    .container-2 .left a{
        color: #fff;
        font-size: 0.8em;
        background-color: rgb(240,202,15);
        padding:5px 10px;
        border-radius: 20px;
        text-decoration: none;
    }
    .container-2 .left a::after{
        content:''; clear: both; display:inline-block;
        width:0; height:0;
        border: 8px solid transparent;
        border-left-color: #fff;
        vertical-align: middle;
        margin-left:10px;
    }
    .container-2 .right{
        display:block;
        width:250px; height:250px;
        margin: 0 auto;
        overflow: hidden;
    }
    .container-2 .right a img{
        width: 100%; height: 100%;
        object-fit: cover;
    }
    .container-2 .button a:nth-child(1){
        position: absolute;
        left:5%; top:65%;
        width: 30px; height: 50px;
    }
    .container-2 .button a:nth-child(2){
        position: absolute;
        right:5%; top:65%;
        width: 30px; height: 50px;
    }
}

/* container-3 */

@media(min-width: 360px) and (max-width: 767px){
    .container-3{
        width: 100%; height: 300px;
        margin-top:400px;
    }
    .container-3 h2{
        left:30px; bottom:80px;
        transform: rotate(0) translateY(0);
        transform-origin: 0;
    }
    .container-3 h2 strong{
        font-size:3em;
    }
    .container-3 .conSub{
        width:100%; height:330px;
        right:0; bottom:230px;
    }
    .container-3 .conSub a img:nth-of-type(1){
        float: left;
        width:70%; height: 100%;
        object-fit: cover; 
    }
    .container-3 .conSub a img:nth-of-type(2),
    .container-3 .conSub a img:nth-of-type(3){
        float: right;
        width: 25%; height:45vw;
        margin: 0 0 12px 10px;
    }
    .container-3 span{
        position: absolute;
        left:30px; bottom:40px;
    }
    .container-3 span a strong{
        font-size: 1em;
    }
        

}
/* media container-4 */

@media(min-width: 360px) and (max-width: 767px){
    
    .container-4{
        width: 100%; height: 100%;
        margin: 130px auto;
    }
    .container-4 div{
        margin-right:20px;
    }
    .container-4 div h2{
        margin-bottom: 20px;
    }
    .container-4 div h2 strong{
        font-size:2.5em;
    }
    .container-4 div a strong{
        font-size:1em;
    }
    .container-4 ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }
    .container-4 ul li{
        width: 100%; height: 350px;
        margin-left:0;
        margin-bottom:80px;
    }
    .container-4 ul li:nth-child(1),
    .container-4 ul li:nth-child(3){margin-right: 0;}
    .container-4 ul li p{
        margin-right:20px;
    }
}