@charset "utf-8";
@import url('common.css');



/* container-1 */

.container-1 a img{
    width: 100%;
    transform: translateY(-40%);
}
/* container-2 */

.container-2{}
.container-2 ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    padding: 100px;
}
.container-2 ul li{}
.container-2 ul li a strong{
    text-transform: uppercase;
    color: rgb(170, 170, 170);
    font-size: 1.5em;
    margin: 0 2vw;
}
.container-2 ul li a strong:hover{
    color: rgb(240,202,15);
    border-bottom: 2px solid rgb(240,202,15);
}

/* container-3 */

.container-3{}
.container-3 ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    overflow: hidden;
    width: 80%;
    margin:0 auto; padding: 0;
}
.container-3 ul li{
    position: relative;
    width: 380px; height:380px;
    overflow: hidden;
    margin-bottom: 100px;
}
.container-3 ul li img{
    width: 100%;
}
.container-3 ul li p{
    position: absolute;
    left:10%; top: 10%;
    text-align: center;
    background-color: rgba(240,202,15,0.9);
    width: 80%; height: 80%;
    text-align: center;
    color: #fff;
    font-weight:400;
    font-size: 0.8em;
    line-height: 2;
    opacity: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10%;
    word-break: keep-all;
}
.container-3 ul li p strong{
    font-size: 2em;
    color: #fff;
    display: block;
    margin-bottom: 30px;
}
.container-3 ul li:hover p{
    opacity: 1;
}

.container-3 div{
    background-color: rgb(240,202,15);
    width:200px; height: 40px;
    margin:120px auto;
    padding:5px;
}
.container-3 div p{
    font-size: 1.2em;
    text-align: center;
}
.container-3 div p strong{
    color: #fff;
}



/* media container-2 */

@media(min-width: 360px) and (max-width: 767px){
    .container-2 ul{
        display: flex;
        flex-direction: row;
        justify-content:center;
        margin: 0 auto;
        padding: 50px;
    }
    .container-2 ul li a strong{
        text-transform: uppercase;
        color: rgb(170, 170, 170);
        font-size: 1em;
        margin: 0 2vw;
    }
}

/* media container-3 */

@media(min-width: 360px) and (max-width: 767px){
    .container-3 ul{
        display: block;
        flex-wrap: none;
        justify-content:flex-start;
        align-content: center;
        overflow: hidden;
        width:100%;
        margin:0 auto; padding: 0;
    }
}